<vmenu>
    <div class="top">
        <div class="logo">
            <img src="/assets/img/logo_FSTM.png" alt="Logo de la FSTM">
            <h2>intern<span class="primary">ship</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="/" class="active">
            <span class="material-icons-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp"> person</span>
            <h3>students</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp"> work_history</span>
            <h3>internship</h3>
        </a>

        <a href="#">
            <span class="material-icons-sharp">person_add</span>
            <h3>validation</h3>
            <span class="validation-count">6</span>
        </a>
        <a href="#">
            <span class="material-icons-sharp"> business</span>
            <h3>Companies</h3>
        </a>
            <a href="/offres">
            <span class="material-icons-sharp"> post_add</span>
            <h3>internship offer</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp"> edit</span>
            <h3>Edit profile</h3>
        </a>


        <a href="/login?logout">
            <span class="material-icons-sharp">logout</span>
            <h3>logOut</h3>
        </a>


    </div>
</vmenu>